.shinyText {
  font-size: clamp(2rem, 5vw, 4.5rem);
  font-weight: bold;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(
    120deg,
    rgba(247, 242, 181, 0.9) 20%,
    rgba(255, 255, 255, 1) 50%,
    rgba(61, 115, 156, 1) 80%
  );
  background-size: 250% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s ease-in-out infinite;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  50% {
    background-position: 100% center;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  }
  100% {
    background-position: 0% center;
  }
}

.shinyText.disabled {
  animation: none;
  background: none;
  color: #fff;
}
