@use "../../scss/common/mixins" as *;
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 320px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  // background: #f9f9f9;
  box-shadow: 0 14px 18px rgba(61, 183, 204, 0.5);
  height: 500px;
  background-image: url("../../img/bg_addForm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include media(desktop) {
    max-width: 350px;
    padding: 20px;
  }
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #333;
}

input,
select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  margin-top: 12px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  transition: background 0.3s;
  width: 150px;
  @include media(desktop) {
    width: 240px;
  }
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 10px;
  padding: 0;
  margin-top: 3px;
}
