.container {
  margin-top: 250px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 55vh 20px;
  background: linear-gradient(135deg, #f7f2b5, #23272a);
}
.container h2 {
  text-align: center;
}
.forms {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.forms_add_date {
  display: flex;
  flex-direction: column;
}
