@use "../scss/common/mixins" as *;
.container {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  margin-bottom: 60px;
  @include media(desktop) {
    margin-bottom: 60px;
    margin-top: 80px;
    flex: 1;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
  }
}

.hero_finance {
  cursor: pointer;
  margin-top: 120px;
  text-align: center;
  font-size: 18px;
  @include media(desktop) {
    font-size: 48px;
    margin-top: 120px;
  }
}
.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  justify-content: center;
  @include media(desktop) {
    gap: 30px;
    flex-direction: row;
  }
}
.forms_add_date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // max-width: 280px;
  @include media(desktop) {
    gap: 30px;
    justify-content: center;
    max-width: 280px;
  }
}
.toggleButton {
  margin: 20px auto;

  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }
}
