.report {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 14px 18px rgba(61, 183, 204, 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero_year {
  padding-top: 20px;
}
.summary p {
  font-size: 18px;
  margin: 5px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}
